<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="shortcut icon" href="../public/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <h1><%= errors.message %></h1>
            <h2><%= errors.error %></h2>
            <!-- <pre><%= error.stack %></pre> -->
        </div>
    </div>
</body>
</html>