<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= title %>
    </title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/styles.css">

    <script src="js/jquery.min.js"></script>
    <script src="js/app-scripts.js"></script>
    <script src="js/app-selectedImages.js"></script>
    <script src="js/jquery.blockUI.js"></script>

<style>
.clsDivImg {
    max-width: 100%;
    max-height: 100%;
}
.clsImg {
    height: 340.16px;
    width: 375px;
}
</style>
    <script type="text/javascript">
        var medias = [];            

        $(document).ready(function () {

            $('#divInfo, #divLoadMore, #divDownload').hide();

            /* limpando o campo */
            $('#txtSearch').keyup(function() {
                if ($('#txtSearch').val().length == 0) {
                    $('#divResult').html("");
                    $('#divInfo, #divLoadMore, #divDownload').hide();
                }
            });
            //------------------------------------------------------------------------------------------------------------------------------------------------------------

            /* pesquisar */
            $('#mensagemModal').text("Carregando, aguarde um momento...");

            $('#btnSearch').click(function () {
                medias = [];
                $('#divResult').html("");
                $('#divInfo').hide();

                if ($('#txtSearch').val().length == 0) {
                    alert('Favor informar o nome de usuário ou o link do perfil do Instagram!')
                    return;
                }

                var q = $('#txtSearch').val();
                var criteria = $('#txtSearch').val();
                var has_url = criteria.toLowerCase().match('https://www.instagram.com/');
                if (has_url != null) {
                    q = criteria.toLowerCase().split('https://www.instagram.com/')[1];
                    q = q.replace('/', '');
                }
                
                $.blockUI({
                    message: $('#message'),
                    css: { width: '275px' }
                });

                $.ajax({
                    type: 'GET',
                    url: '/getInstagramInit/' + q,
                    success: function (data) {

                        if(data.user.is_private == true) {
                            alert('Usuário com a conta privada')
                            return;
                        }

                        $('#divInfo').show();
                        $('#lblUsername').text(data.user.username);
                        $('#lblTotalMedias').text(formattedNumbers(data.all_medias.toString()));
                        
                        var all_medias = data.all_medias;
                        
                        if (all_medias > 12) {
                            $('#divLoadMore').show();
                        }

                        if (all_medias > 0) {
                            $('#divDownload').show();
                        }

                        if (data.page_info.has_next_page == false) {
                            $('#divLoadMore').hide();
                        }

                        $('#hdn_end_cursor').val(data.page_info.end_cursor);
                        $('#hdn_id').val(data.user.id);
                        $('#hdn_hrx_gis').val(data.rhx_gis);
                        $('#hdn_csrf_token').val(data.csrf_token);
                        $('#hdn_has_next_page').val(data.page_info.has_next_page);

                        var strHtml = createHtmlContentMedias(data);
                        $(strHtml).appendTo('#divResult');
                        $.unblockUI();
                    },
                    error: function (err) {
                        alert(err.statusText);
                        $.unblockUI();
                    }
                });

            });
            //------------------------------------------------------------------------------------------------------------------------------------------------------------

            /* carregar mais */
            $('#btnLoadMore').click(function () {

                var end_cursor = $('#hdn_end_cursor').val();
                var rhx_gis = $('#hdn_hrx_gis').val();
                var csrf_token = $('#hdn_csrf_token').val();
                var userId = $('#hdn_id').val();
                var params = end_cursor + '/' + rhx_gis + '/' + csrf_token + '/' + userId;
                
                $.blockUI({
                    message: $('#message'),
                    css: { width: '275px' }
                });

                $.ajax({
                    type: 'GET',
                    url: '/getInstagramMore/' + params,
                    success: function (data) {
                        var data = data.data;

                        if (data.page_info.has_next_page == false) {
                            $('#divLoadMore').hide();
                            $('#divDownload').show();
                        }

                        $('#hdn_end_cursor').val(data.page_info.end_cursor);
                        $('#hdn_has_next_page').val(data.page_info.has_next_page);
                        
                        var strHtml = createHtmlContentMedias(data);
                        $(strHtml).appendTo('#divResult');
                        $.unblockUI();
                    },
                    error: function (err) {
                        alert(err.statusText);
                        $.unblockUI();
                    }
                });
            });
            //------------------------------------------------------------------------------------------------------------------------------------------------------------

            /* baixar fotos */
            $('#btnDownload').click(function () {
                var mediasDownload = [];
                $('.image-checkbox').each(function() {
                    if($(this).find('input[type="checkbox"]').prop('checked')) {
                        
                        if($(this).find('img').attr('src') == null) {
                            var videoUrl = $(this).find('video').find('source').attr('src');
                            mediasDownload.push(videoUrl);
                        } else {
                            var img = $(this).find('img').attr('src')
                            mediasDownload.push(img);
                        }
                        
                    }
                })

                if(mediasDownload.length > 0) {
                    $.ajax({
                        type: 'GET',
                        url: '/downloadFotos',
                        data: {
                            'medias': JSON.stringify(mediasDownload),
                            'username': $('#txtSearch').val()
                        },
                        success: function (data) {
                            if ($('#hdn_has_next_page').val() == false) {
                                medias = [];
                            }
                            alert('Fotos salvas com sucesso');
                        },
                        error: function (err) {
                            medias = [];
                            alert('Erro ao salvar as fotos');
                        }
                    });
                }
            });
            //------------------------------------------------------------------------------------------------------------------------------------------------------------

        }); // load da pagina

        function getVideoUrl(shortcode) {
            var video_url = '';
            
            var url = 'https://www.instagram.com/p/' + shortcode + '/?__a=1';

            var jqXHR = $.ajax({
                type: 'GET',
                url: url,
                dataType: 'json',
                async: false,
                success: function(resp) {
                },
                error: function(err) {
                }
            });
            var json = JSON.parse(jqXHR.responseText);
            video_url = json.graphql.shortcode_media.video_url;
            return video_url;
        }

        function getSidecarImages(shortcode) {
            var shortcode_media = {};
            var url = 'https://www.instagram.com/p/' + shortcode + '/?__a=1';
            var jqXHR = $.ajax({
                type: 'GET',
                url: url,
                dataType: 'json',
                async: false,
                success: function(resp) {
                    video_url = resp.graphql.shortcode_media;                    
                },
                error: function(err) {
                }
            });
            var json = JSON.parse(jqXHR.responseText);
            shortcode_media = json.graphql.shortcode_media.edge_sidecar_to_children;
            return shortcode_media;
        }
        
        function createHtmlContentMedias(data) {
            var medias_count = data.edges.length;

            var strHtml = "";

            for (var i = 0; i < medias_count; i++) {
                var media = data.edges[i].node;
                
                if(media.__typename == "GraphImage") {                    
                    strHtml += '<div class="col-xs-12 col-sm-4 col-md-3 nopad text-center clsDivImg">';
                    strHtml += '    <label class="image-checkbox">';
                    strHtml += '    <img class="img-responsive clsImg" src="' + media.display_url +'" />';
                    strHtml += '    <input type="checkbox" name="image[]" value="" />';
                    strHtml += '    <i class="fa fa-check hidden"></i>';
                    strHtml += '</div>';
                    medias.push(media.display_url);
                } else if (media.__typename == "GraphVideo" && media.is_video == true) {
                    var video_url = getVideoUrl(media.shortcode);
                    strHtml += '<div class="col-xs-12 col-sm-4 col-md-3 nopad text-center clsDivImg">';
                    strHtml += '    <label class="image-checkbox">';
                    strHtml += '    <div>';                                
                    strHtml += '        <video controls class="clsImg">';
                    strHtml += '            <source src="'+ video_url +'" type="video/mp4"></source>';
                    strHtml += '        </video>';
                    strHtml += '    </div>';
                    strHtml += '    <input type="checkbox" name="image[]" value="" />';
                    strHtml += '    <i class="fa fa-check hidden"></i>';
                    strHtml += '</div>';
                    medias.push(video_url);
                } else if(media.__typename == "GraphSidecar") {
                    var sidecarImages = getSidecarImages(media.shortcode);

                    sidecarImages.edges.forEach(item => {
                        var sidecar = item.node;
                        if(sidecar.__typename == "GraphVideo" && sidecar.is_video == true) {
                            var video_url = sidecar.video_url;
                            strHtml += '<div class="col-xs-12 col-sm-4 col-md-3 nopad text-center clsDivImg">';
                            strHtml += '    <label class="image-checkbox">';
                            strHtml += '    <div>';                                
                            strHtml += '        <video controls class="clsImg">';
                            strHtml += '            <source src="'+ video_url +'" type="video/mp4"></source>';
                            strHtml += '        </video>';
                            strHtml += '    </div>';
                            strHtml += '    <input type="checkbox" name="image[]" value="" />';
                            strHtml += '    <i class="fa fa-check hidden"></i>';
                            strHtml += '</div>';
                            medias.push(video_url);
                        } else {
                            strHtml += '<div class="col-xs-12 col-sm-4 col-md-3 nopad text-center clsDivImg">';
                            strHtml += '    <label class="image-checkbox">';
                            strHtml += '    <img class="img-responsive clsImg" src="' + sidecar.display_url +'" />';
                            strHtml += '    <input type="checkbox" name="image[]" value="" />';
                            strHtml += '    <i class="fa fa-check hidden"></i>';
                            strHtml += '</div>';
                            medias.push(sidecar.display_url);
                        }
                    });
                }
            }
            return strHtml;
        }

    </script>

</head>

<body>
    <!-- menu -->  
    <% include partials/_menu.ejs %>
    
    <div class="container" style="padding-top: 40px">
        <div class="page-header">
            <h1>Pagina inicial</h1>
        </div>
        <!-- Buscar -->
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group addon">
                            <input type="search" class="form-control" name="search" id="txtSearch" placeholder="Digite o nome de usuário do Instagram" />
                            <span class="input-group-addon btn btn-default btn-lg" id="btnSearch" style="margin-left: -1px;">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" name="hdn_end_cursor" id="hdn_end_cursor" />
        <input type="hidden" name="hdn_id" id="hdn_id" />
        <input type="hidden" name="hdn_hrx_gis" id="hdn_hrx_gis" />
        <input type="hidden" name="hdn_csrf_token" id="hdn_csrf_token" />
        <input type="hidden" name="hdn_has_next_page" id="hdn_has_next_page" />

        <!-- Div dos resultados -->
        <div id="divInfo">
            <h3>Total de Fotos de
                <span id="lblUsername"></span>:
                <span id="lblTotalMedias"></span>
            </h3>
        </div>
        <div class="row" id="divResult" style="padding-top: 40px">
        </div>

        <!-- Botão carregar mais -->
        <div class="row" style="padding-top: 40px">
            <div id="divLoadMore" class="text-center col-md-12">
                <button class="btn btn-danger btn-sm" id="btnLoadMore" style="width: 100px">
                    Mais
                </button>
            </div>
        </div>

        <!-- Botão baixar todas as fotos -->
        <div class="row" style="padding-top: 40px">
            <div id="divDownload" class="text-center col-md-12">
                <button class="btn btn-success btn-sm" id="btnDownload" style="width: 100px">
                    Baixar fotos
                </button>
            </div>
        </div>

        <!-- Modal de carregamento -->
        <div class="modal-blockUI" id="message">
            <h3 id="mensagemModal"></h3>
            <p>
                <img src="img/loading/insta-load_1.gif" style="width: 50px; height: 50px">
            </p>
        </div>

        <!-- Footer -->
        <% include partials/_footer.ejs %>
    </div>
</body>

</html>